img {
    vertical-align: middle;
}

header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

html, body, .grid-container {
    height: 100%;
    width: 100%;
    margin: 0;
  }

.grid-container {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  }

.grid-container * {
  border: 1px solid black;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0;
  font-size: 30px;
}

.grid-container > header {
  background-color: lightskyblue;
}

.grid-container > header > figure > img {
    width: 150px;
    height: 150px;
}

.grid-container > main {
    background-color: green;
    padding: 40px 10px 40px 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.grid-container > main > figure > img {
    width: 500px;
    height: 500px;
}

.grid-container > footer {
    background-color: lightsalmon;
}